@import url("common.css");
/* header logo */
header {
  width: 100%;
  height: 75px;
  background: transperant;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}

header.active {
  background: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid #e1e1e1;
}

header.active nav > .top_menu > li > a {
  color: #333;
}

header.active .language > li > a {
  color: #333;
}

header.active .header-wrap .logo a {
  display: block;
  width: 180px;
  height: 75px;
  background: url("../img/yk_logo_normal.png") no-repeat center;
  background-size: contain;
}

header.active:after {
  content: '';
  display: block;
  clear: both;
  width: 100%;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.9);
}

header.scrollDown {
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #e1e1e1;
}

header.scrollDown nav > .top_menu > li > a {
  color: #333;
}

header.scrollDown .language > li > a {
  color: #333;
}

header.scrollDown .header-wrap .logo a {
  display: block;
  width: 180px;
  height: 75px;
  background: url("../img/yk_logo_normal.png") no-repeat center;
  background-size: contain;
}

header .header-wrap {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-wrap:before {
  content: '';
  display: block;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

header .header-wrap .logo {
  width: 10%;
  margin-left: 15%;
}

header .header-wrap .logo a {
  display: block;
  width: 180px;
  height: 75px;
  background: url("../img/yk_logo_white.png") no-repeat center;
  background-size: contain;
}

header .header-wrap .logo a img {
  width: 100%;
  z-index: 10;
}

/* header navigation */
.header-wrap nav {
  width: 40%;
  height: 100%;
  margin: 0 auto;
}

.header-wrap nav > .top_menu {
  font-size: 0;
  width: 100%;
  margin: 0 auto;
}

.header-wrap nav > .top_menu > li {
  display: inline-block;
  width: 25%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  text-align: center;
  padding: 26px 0;
}

.header-wrap nav > .top_menu > li:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.header-wrap nav > .top_menu > li::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 3px;
  background: #063;
  background-image: linear-gradient(125deg, #86e3ce, #d0e6a5, rgba(255, 221, 148, 0.8));
  -webkit-transition: -webkit-transform .3s linear;
  transition: -webkit-transform .3s linear;
  transition: transform .3s linear;
  transition: transform .3s linear, -webkit-transform .3s linear;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  position: absolute;
  bottom: 0%;
  left: 0;
}

.header-wrap nav > .top_menu > li > a {
  color: #fff;
  font-weight: 400;
  text-align: center;
  font-size: 1em;
  -webkit-transition: color ease 0.3s;
  transition: color ease 0.3s;
  position: relative;
}

/* header subMenu */
header .top_menu li:hover ul {
  display: block;
  width: 100%;
}

header .top_menu li > ul {
  position: absolute;
  left: 0;
  top: 75px;
  width: 100%;
  display: none;
}

header .top_menu li > ul > li {
  padding: 0 10% 5% 10%;
  text-align: center;
}

header .top_menu li > ul > li > a {
  font-size: .9em;
  color: #888;
}

header .top_menu li > ul > li > a:hover {
  width: 100%;
  color: #063;
  font-weight: 600;
  -webkit-animation: font-animations .5s .3s infinite both alternate;
          animation: font-animations .5s .3s infinite both alternate;
}

@-webkit-keyframes font-animations {
  0% {
    color: #063;
  }
  100% {
    color: #d97234;
  }
}

@keyframes font-animations {
  0% {
    color: #063;
  }
  100% {
    color: #d97234;
  }
}

/* header language */
.header-wrap > .language {
  width: 10%;
  margin-right: 10%;
}

.header-wrap > .language > li {
  position: relative;
  width: 100%;
}

.header-wrap > .language > li:after {
  content: '';
  display: inline-block;
  width: 0px;
  height: 0px;
  border-top: 7px solid #ababab;
  border-bottom: 7px solid none;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.header-wrap > .language > li:hover .language_list {
  display: block;
}

.header-wrap > .language > li > a {
  color: #fff;
  font-size: .7em;
}

.header-wrap > .language > li > .language_list {
  position: absolute;
  left: 0;
  top: 1rem;
  display: none;
}

.header-wrap > .language > li > .language_list > li {
  display: inline-block;
}

.header-wrap > .language > li > .language_list > li > a {
  text-align: left;
  font-size: .7em;
  color: #04a6e1;
}

/* header burgerMenu */
.header-wrap .menu-trigger {
  width: 26px;
  height: 16px;
  position: absolute;
  right: 5%;
  top: 50%;
  -webkit-transform: translate(-5%, -50%);
          transform: translate(-5%, -50%);
  display: none;
}

.header-wrap .menu-trigger span {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 2px;
  background: #fff;
}

.header-wrap .menu-trigger span:nth-of-type(1) {
  top: 0%;
}

.header-wrap .menu-trigger span:nth-of-type(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header-wrap .menu-trigger span:nth-of-type(3) {
  top: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

/* ---------------------------------------------------- header END */
main {
  width: 100%;
}

main .ykhurb_wrap {
  position: fixed;
  right: 0;
  bottom: -7%;
  background: #04a6e1;
  padding: 1vw 1.5vw;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

main .ykhurb_wrap .title p {
  margin: 0;
  color: #fff;
}

main .ykhurb_wrap .title p mark {
  background: transparent;
  color: #fff;
  font-weight: bold;
}

main .ykhurb_wrap .list_btn {
  width: 0px;
  height: 0px;
  border-top: 7px solid #fff;
  border-bottom: 7px solid none;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  margin-left: 3vw;
}

main {
  width: 100%;
  background: url("../img/aboutus.jpg") no-repeat;
  margin: 0 auto 10rem;
}

main .about_spot {
  padding: 12rem 0 0 0;
}

main .about_spot h1 {
  color: #fff;
  font-size: 4em;
  text-align: center;
}

main .about_spot p {
  color: #fff;
  text-align: center;
  font-size: 1.2em;
  font-weight: 900;
}

.about-wrap .section-wrap .section01 h2, .about-wrap .section02 h2, .about-wrap .section03 h2 {
  font-size: 2em;
  color: #333;
  font-weight: 900;
  margin-bottom: 2%;
}

.about-wrap .section-wrap .section01 strong {
  font-size: 1.5em;
  margin-bottom: 2%;
}

.about-wrap .section-wrap .section01 p mark, .about-wrap .section03 p mark, .about-wrap .section03 .company figure figcaption mark {
  font-size: 1.5em;
  background: transparent;
  color: #04a6e1;
  font-weight: 900;
}

.breadcrumb {
  width: 70%;
  margin: 12rem auto 0;
  background-color: rgba(255, 255, 255, 0.7);
  padding: .5rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.breadcrumb a {
  font-size: 0.9em;
  color: #333;
  padding: 0 .2rem;
}

.breadcrumb span {
  color: #333;
  padding: 0 .2rem;
}

.about-wrap {
  width: 70%;
  margin: 0 auto;
  -webkit-box-shadow: 0 4px 25px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 25px rgba(0, 0, 0, 0.15);
  background: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.about-wrap .section-wrap {
  padding: 2rem;
  margin: 0 auto;
}

.about-wrap .section-wrap .section01 {
  width: 100%;
  margin: 0 auto;
}

.about-wrap .section02 {
  width: 100%;
  margin: 3rem auto;
}

.about-wrap .section02 img {
  width: 100%;
  margin: 0 auto;
}

.about-wrap .section03 {
  width: 100%;
  margin: 3rem auto;
}

.about-wrap .section03 .company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5% auto;
}

.about-wrap .section03 .company figure {
  width: 50%;
  position: relative;
  margin-right: 2rem;
}

.about-wrap .section03 .company figure:nth-of-type(1)::after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 100%;
  background: #e1e1e1;
  position: absolute;
  left: 105%;
  top: 0;
}

.about-wrap .section03 .company figure:nth-of-type(2) {
  margin-right: 0rem;
  margin-left: 2rem;
}

.about-wrap .section03 .company figure h2 {
  text-align: center;
}

.about-wrap .section03 .company figure h2 img {
  width: 40%;
  height: 56px;
  margin: 0 auto;
}

.about-wrap .section03 .company figure div {
  width: 50%;
  margin: 5% auto;
  padding: 10px;
  background: #04a6e1;
  text-align: center;
}

.about-wrap .section03 .company figure div a {
  color: #fff;
}

footer {
  width: 100%;
  text-align: center;
}

footer a {
  width: 100%;
}

footer a img {
  width: 10%;
}

footer ul li {
  display: inline-block;
  font-weight: lighter;
  font-size: .8em;
}

footer ul li:after {
  content: '';
  display: inline-block;
  width: 2px;
  height: 10px;
  background: #ababab;
  margin: 0 5px;
}

footer p {
  font-weight: lighter;
  font-size: .8em;
}
/*# sourceMappingURL=aboutyk.css.map */