@charset 'utf-8';
@import url('common.css');

// MAIN

main {
    width: 100%;
    background: url('../img/aboutus.jpg') no-repeat;
    margin: 0 auto 10rem;

    .about_spot {
        padding: 12rem 0 0 0;

        h1 {
            color: #fff;
            font-size: 4em;
            text-align: center;
        }

        p {
            color: #fff;
            text-align: center;
            font-size: 1.2em;
            font-weight: 900;
        }
    }
}

// SECTION 01: 미션 및 비전

%h2 {
    font-size: 2em;
    color: #d97234;
    font-weight: 900;
    margin-bottom: 2%;
}

%strong {
    font-size: 1.5em;
    margin-bottom: 2%;
}

%mark {
    font-size: 1.5em;
    background: transparent;
    color: #063;
    font-weight: 900;
}

.breadcrumb {
    width: 70%;
    margin: 12rem auto 0;
    background-color: rgba(255, 255, 255, 0.7);
    padding: .5rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    a {
        font-size: 0.9em;
        color: #333;
        padding: 0 .2rem;
    }

    span {
        color: #333;
        padding: 0 .2rem;
    }
}

.about-wrap {
    width: 70%;
    margin: 0 auto;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.15);
    background: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    .section-wrap {
        padding: 2rem;
        margin: 0 auto;

        .section01 {
            width: 100%;
            margin: 0 auto;

            h2 {
                @extend %h2;
            }

            strong {
                @extend %strong;
            }

            p {
                mark {
                    @extend %mark;
                }
            }
        }
    }


    // SECTION 02: 핵심가치

    .section02 {
        width: 100%;
        margin: 3rem auto;

        h2 {
            @extend %h2;
        }

        img {
            width: 100%;
            margin: 0 auto;
        }
    }

    // SECTION 03: 주주회사

    .section03 {
        width: 100%;
        margin: 3rem auto;

        h2 {
            @extend %h2;
        }

        p {
            mark {
                @extend %mark;
            }
        }

        .company {
            display: flex;
            justify-content: space-between;
            margin: 5% auto;
            position: relative;

            .yuhan {
                &::after {
                    content: '';
                    display: inline-block;
                    width: 1px;
                    height: 100%;
                    background: #e1e1e1;
                    position: absolute;
                    left: 49%;
                    top: 0;
                }
            }
            .yuhan, .kimberly {
                width: 50%;
                figure {
                    position: relative;
                    margin-right: 2rem;
    
                    h2 {
                        text-align: center;
    
                        img {
                            width: 40%;
                            height: 56px;
                            margin: 0 auto;
                        }
                    }
    
                    figcaption {
                        mark {
                            @extend %mark;
                        }
                    }
                }
                div {
                    width: 50%;
                    margin: 5% auto;
                    padding: 10px;
                    text-align: center;
                    border: 1px solid #e1e1e1;

                    a {
                        color: #d97234;
                    }
                }
            }
            
            
        }
    }
}
