@import url("common.css");
main {
  width: 100%;
  background: url("../img/aboutus.jpg") no-repeat;
  margin: 0 auto 10rem;
}

main .about_spot {
  padding: 12rem 0 0 0;
}

main .about_spot h1 {
  color: #fff;
  font-size: 4em;
  text-align: center;
}

main .about_spot p {
  color: #fff;
  text-align: center;
  font-size: 1.2em;
  font-weight: 900;
}

.about-wrap .section-wrap .section01 h2, .about-wrap .section02 h2, .about-wrap .section03 h2 {
  font-size: 2em;
  color: #d97234;
  font-weight: 900;
  margin-bottom: 2%;
}

.about-wrap .section-wrap .section01 strong {
  font-size: 1.5em;
  margin-bottom: 2%;
}

.about-wrap .section-wrap .section01 p mark, .about-wrap .section03 p mark, .about-wrap .section03 .company .yuhan figure figcaption mark, .about-wrap .section03 .company .kimberly figure figcaption mark {
  font-size: 1.5em;
  background: transparent;
  color: #063;
  font-weight: 900;
}

.breadcrumb {
  width: 70%;
  margin: 12rem auto 0;
  background-color: rgba(255, 255, 255, 0.7);
  padding: .5rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.breadcrumb a {
  font-size: 0.9em;
  color: #333;
  padding: 0 .2rem;
}

.breadcrumb span {
  color: #333;
  padding: 0 .2rem;
}

.about-wrap {
  width: 70%;
  margin: 0 auto;
  -webkit-box-shadow: 0 4px 25px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 25px rgba(0, 0, 0, 0.15);
  background: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.about-wrap .section-wrap {
  padding: 2rem;
  margin: 0 auto;
}

.about-wrap .section-wrap .section01 {
  width: 100%;
  margin: 0 auto;
}

.about-wrap .section02 {
  width: 100%;
  margin: 3rem auto;
}

.about-wrap .section02 img {
  width: 100%;
  margin: 0 auto;
}

.about-wrap .section03 {
  width: 100%;
  margin: 3rem auto;
}

.about-wrap .section03 .company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5% auto;
  position: relative;
}

.about-wrap .section03 .company .yuhan::after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 100%;
  background: #e1e1e1;
  position: absolute;
  left: 49%;
  top: 0;
}

.about-wrap .section03 .company .yuhan, .about-wrap .section03 .company .kimberly {
  width: 50%;
}

.about-wrap .section03 .company .yuhan figure, .about-wrap .section03 .company .kimberly figure {
  position: relative;
  margin-right: 2rem;
}

.about-wrap .section03 .company .yuhan figure h2, .about-wrap .section03 .company .kimberly figure h2 {
  text-align: center;
}

.about-wrap .section03 .company .yuhan figure h2 img, .about-wrap .section03 .company .kimberly figure h2 img {
  width: 40%;
  height: 56px;
  margin: 0 auto;
}

.about-wrap .section03 .company .yuhan div, .about-wrap .section03 .company .kimberly div {
  width: 50%;
  margin: 5% auto;
  padding: 10px;
  text-align: center;
  border: 1px solid #e1e1e1;
}

.about-wrap .section03 .company .yuhan div a, .about-wrap .section03 .company .kimberly div a {
  color: #d97234;
}
/*# sourceMappingURL=aboutyk.css.map */