@charset 'utf-8';
@import url('common.css');
// MAIN
main {
    position: relative;
    img {
        width: 100%;
    }
    h1 {
        position: absolute;
        left: 50%; top: 10%;
        transform: translate(-50%,-10%);
        color: #fff;
        font-size: 4em;
    }
    .ceo_text {
        position: absolute;
        left: 15%; top: 25%;
        color: #fff;
        strong {
            font-size: 1.5em;
        }
        p {
            line-height: 30px;
            color: #fff;
            mark {
                color: #d97234;
                background: transparent;
                font-size: 1.3em;
                font-weight: 900;
            }
        }
    }
}
// SECTION 01: 인사말

.section01 {
    width: 70%;
    margin: 10% auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    figure {
        width: 65%;
        figcaption {
            h2 {
                color: #d97234;
                font-size: 1.5em;
            }
            p {
                line-height: 30px;
                margin-top: 3%;
            }
        }
        img {
            width: 10%;
            float: right;
            margin-top: 3%;
        }
    }
    .ceo_img {
        width: 30%;
        img {
            width: 100%;
            display: block;
            margin-bottom: 2%;
        }
    }
}
