@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
* {font-family: 'Noto Sans KR', sans-serif;}

.eng-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
html,body{
    margin:0;
}

ul,li{
    margin:0; padding:0;
    list-style:none;
}
h1,h2,h3,h4,h5,h6,figure,figcaption {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color:#333;
}

p {
    color: #666666;
    font-weight: 300;
}

*{
    letter-spacing: -0.35px;
    box-sizing: border-box;
    font-size: 16px;
}

