@charset 'utf-8';
@import url('common.css');

main {
    width: 100%;
    background: url('../img/sub_bg.jpg') no-repeat;
    margin: 0 auto 10rem;

    .about_spot {
        padding: 12rem 0 0 0;

        h1 {
            color: #fff;
            font-size: 4em;
            text-align: center;
        }

        p {
            color: #fff;
            text-align: center;
            font-size: 1.2em;
            font-weight: 900;
        }
    }
}
%h2 {
    font-size: 2em;
    color: #d97234;
    font-weight: 900;
    margin-bottom: 2%;
}

%strong {
    font-size: 1.5em;
    margin-bottom: 2%;
    color: #063;
}

%mark {
    font-size: 1.5em;
    background: transparent;
    color: #063;
    font-weight: 900;
}

%h3 {
    font-size: 1.5em;
    margin-bottom: 5%;
}

%flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%p {
    width: 100%;
    color: #666;
    font-weight: 200;
}
.breadcrumb {
    width: 70%;
    margin: 12rem auto 0;
    background-color: rgba(255, 255, 255, 0.7);
    padding: .5rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    a {
        font-size: 0.9em;
        color: #333;
        padding: 0 .2rem;
    }

    span {
        color: #333;
        padding: 0 .2rem;
    }
}

.contribution-wrap {
    width: 70%;
    margin: 0 auto;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.15);
    background: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    .plant-wrap {
        padding: 2rem;
        margin: 0 auto;
        width: 100%;
        
        h2 {
            @extend %h2;

            mark {
                font-size: .5em;
                @extend %mark;
                color: #333333;
            }
        }

        p {
            color: #666;
        }

        .plant_division {
            width: 100%;
            margin: 5% auto;

            ul {
                @extend %flex;

                li {
                    width: 100%;
                    text-align: center;
                    padding: 1% 0;
                    position: relative;
                    border-bottom: 3px solid #e1e1e1;

                    &::before {
                        content: '';
                        display: inline-block;
                        width: 100%;
                        height: 3px;
                        background-image: linear-gradient(125deg, rgba(134, 227, 206, 1), rgba(208, 230, 165, 1), rgba(255, 221, 148, .8));
                        transition: transform .3s linear;
                        transform: scaleX(0);
                        position: absolute;
                        bottom: -3px;
                        left: 0;
                    }

                    &:hover::before {
                        transform: scaleX(1);
                    }
    
                    &.active {
                        &::before {
                            transform: scaleX(1);
                        }
    
                        a {
                            color: #063;
                            font-weight: 900;
                            animation: font-animations .5s .3s infinite both alternate;
                        }
                    }

                    @keyframes font-animations {
                        0% {
                            color: #063;
                        }

                        100% {
                            color: #d97234;
                        }
                    }

                    a {
                        width: 100%;
                        color: #333;
                    }
                }
            }
        }

        .plant {
            width: 100%;
            margin: 5% auto;
            position: relative;

            .section01 {

                .make01 {
                    margin-bottom: 5%;

                    h3 {
                        @extend %h3;

                        mark {
                            @extend %mark;
                        }
                    }

                    div {
                        width: 70%;
                        margin: 0 auto;

                        img {
                            width: 100%;
                        }
                    }
                }

                .make02 {
                    width: 100%;
                    margin: 0 auto;
                    display: flex;
                    justify-content: space-between;

                    >article {
                        margin: 0 auto;
                        width: 100%;
                        padding-right: 3%;

                        &:nth-of-type(2) {
                            padding-right: 0;
                            padding-left: 3%;
                        }

                        h3 {
                            @extend %h3;
                            font-weight: 200;

                            mark {
                                @extend %mark;
                            }
                        }

                        img {
                            width: 49%;
                        }

                        p {
                            @extend %p;
                        }
                    }
                }
            }
        }
    }

    %meet {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .section02 {
        margin-bottom: 5%;

        h3 {
            @extend %h3;

            mark {
                @extend %mark;
            }
        }

        .meet01 {
            @extend %meet;

            article {
                width: 100%;
                padding-right: 3%;

                &:nth-of-type(2) {
                    padding-right: 0;
                    padding-left: 3%;
                }

                .title {
                    width: 100%;
                    position: relative;

                    h3 {
                        @extend %h3;
                        font-weight: 200;

                        mark {
                            @extend %mark;
                        }
                    }
                    p {
                        margin: 0;
                        @extend %p;
                    }

                    a {
                        float: right;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        border: 1px solid #ababab;
                        font-size: .7em;
                        padding: 10px 30px;
                    }
                }

                img {
                    width: 100%;
                }

                p {
                    @extend %p;
                }

            }
        }
    }

    .meet02 {
        width: 100%;
        margin: 5% auto;
        @extend %meet;

        >article {
            width: 100%;
            padding-right: 3%;

            &:nth-of-type(3) {
                padding-right: 0;
            }

            .title {
                width: 100%;
                position: relative;

                h3 {
                    @extend %h3;
                    font-weight: 200;

                    mark {
                        @extend %mark;
                    }
                }
                p {
                    @extend %p;
                }

                a {
                    float: right;
                    position: absolute;
                    right: 0%;
                    ;
                    top: 60%;
                    border: 1px solid #ababab;
                    font-size: .7em;
                    padding: 10px 30px;
                }
            }

            img {
                width: 100%;
            }

            p {
                @extend %p;
            }

        }
    }

    .section03 {
        margin-bottom: 5%;

        h3 {
            @extend %h3;

            mark {
                @extend %mark;
            }
        }

        article {
            margin: 5% auto;

            .title {
                h3 {
                    @extend %h3;
                    font-weight: 200;
                    margin-bottom: 3%;

                    mark {
                        @extend %mark;
                    }
                }
                p {
                    margin: 0;
                    @extend %p;
                }
            }

            figure {
                width: 100%;
                @extend %flex;

                img {
                    width: 55%;

                }

                figcaption {
                    width: 40%;

                    dl {
                        dt {
                            @extend %mark;
                        }
                        dd {
                            color: #666;
                        }
                    }
                }
            }

        }
    }
}
