@import url("common.css");
main {
  width: 100%;
  background: url("../img/sub_bg.jpg") no-repeat;
  margin: 0 auto 10rem;
}

main .about_spot {
  padding: 12rem 0 0 0;
}

main .about_spot h1 {
  color: #fff;
  font-size: 4em;
  text-align: center;
}

main .about_spot p {
  color: #fff;
  text-align: center;
  font-size: 1.2em;
  font-weight: 900;
}

.contribution-wrap .plant-wrap h2 {
  font-size: 2em;
  color: #d97234;
  font-weight: 900;
  margin-bottom: 2%;
}

.contribution-wrap .plant-wrap h2 mark, .contribution-wrap .plant-wrap .plant .section01 .make01 h3 mark, .contribution-wrap .plant-wrap .plant .section01 .make02 > article h3 mark, .contribution-wrap .section02 h3 mark, .contribution-wrap .section02 .meet01 article .title h3 mark, .contribution-wrap .meet02 > article .title h3 mark, .contribution-wrap .section03 h3 mark, .contribution-wrap .section03 article .title h3 mark, .contribution-wrap .section03 article figure figcaption dl dt {
  font-size: 1.5em;
  background: transparent;
  color: #063;
  font-weight: 900;
}

.contribution-wrap .plant-wrap .plant .section01 .make01 h3, .contribution-wrap .plant-wrap .plant .section01 .make02 > article h3, .contribution-wrap .section02 h3, .contribution-wrap .section02 .meet01 article .title h3, .contribution-wrap .meet02 > article .title h3, .contribution-wrap .section03 h3, .contribution-wrap .section03 article .title h3 {
  font-size: 1.5em;
  margin-bottom: 5%;
}

.contribution-wrap .plant-wrap .plant_division ul, .contribution-wrap .section03 article figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contribution-wrap .plant-wrap .plant .section01 .make02 > article p, .contribution-wrap .section02 .meet01 article .title p, .contribution-wrap .section02 .meet01 article p, .contribution-wrap .meet02 > article .title p, .contribution-wrap .meet02 > article p, .contribution-wrap .section03 article .title p {
  width: 100%;
  color: #666;
  font-weight: 200;
}

.breadcrumb {
  width: 70%;
  margin: 12rem auto 0;
  background-color: rgba(255, 255, 255, 0.7);
  padding: .5rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.breadcrumb a {
  font-size: 0.9em;
  color: #333;
  padding: 0 .2rem;
}

.breadcrumb span {
  color: #333;
  padding: 0 .2rem;
}

.contribution-wrap {
  width: 70%;
  margin: 0 auto;
  -webkit-box-shadow: 0 4px 25px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 25px rgba(0, 0, 0, 0.15);
  background: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.contribution-wrap .plant-wrap {
  padding: 2rem;
  margin: 0 auto;
  width: 100%;
}

.contribution-wrap .plant-wrap h2 mark {
  font-size: .5em;
  color: #333333;
}

.contribution-wrap .plant-wrap p {
  color: #666;
}

.contribution-wrap .plant-wrap .plant_division {
  width: 100%;
  margin: 5% auto;
}

.contribution-wrap .plant-wrap .plant_division ul li {
  width: 100%;
  text-align: center;
  padding: 1% 0;
  position: relative;
  border-bottom: 3px solid #e1e1e1;
}

.contribution-wrap .plant-wrap .plant_division ul li::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 3px;
  background-image: linear-gradient(125deg, #86e3ce, #d0e6a5, rgba(255, 221, 148, 0.8));
  -webkit-transition: -webkit-transform .3s linear;
  transition: -webkit-transform .3s linear;
  transition: transform .3s linear;
  transition: transform .3s linear, -webkit-transform .3s linear;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  position: absolute;
  bottom: -3px;
  left: 0;
}

.contribution-wrap .plant-wrap .plant_division ul li:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.contribution-wrap .plant-wrap .plant_division ul li.active::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.contribution-wrap .plant-wrap .plant_division ul li.active a {
  color: #063;
  font-weight: 900;
  -webkit-animation: font-animations .5s .3s infinite both alternate;
          animation: font-animations .5s .3s infinite both alternate;
}

@-webkit-keyframes font-animations {
  0% {
    color: #063;
  }
  100% {
    color: #d97234;
  }
}

@keyframes font-animations {
  0% {
    color: #063;
  }
  100% {
    color: #d97234;
  }
}

.contribution-wrap .plant-wrap .plant_division ul li a {
  width: 100%;
  color: #333;
}

.contribution-wrap .plant-wrap .plant {
  width: 100%;
  margin: 5% auto;
  position: relative;
}

.contribution-wrap .plant-wrap .plant .section01 .make01 {
  margin-bottom: 5%;
}

.contribution-wrap .plant-wrap .plant .section01 .make01 div {
  width: 70%;
  margin: 0 auto;
}

.contribution-wrap .plant-wrap .plant .section01 .make01 div img {
  width: 100%;
}

.contribution-wrap .plant-wrap .plant .section01 .make02 {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contribution-wrap .plant-wrap .plant .section01 .make02 > article {
  margin: 0 auto;
  width: 100%;
  padding-right: 3%;
}

.contribution-wrap .plant-wrap .plant .section01 .make02 > article:nth-of-type(2) {
  padding-right: 0;
  padding-left: 3%;
}

.contribution-wrap .plant-wrap .plant .section01 .make02 > article h3 {
  font-weight: 200;
}

.contribution-wrap .plant-wrap .plant .section01 .make02 > article img {
  width: 49%;
}

.contribution-wrap .section02 .meet01, .contribution-wrap .meet02 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contribution-wrap .section02 {
  margin-bottom: 5%;
}

.contribution-wrap .section02 .meet01 article {
  width: 100%;
  padding-right: 3%;
}

.contribution-wrap .section02 .meet01 article:nth-of-type(2) {
  padding-right: 0;
  padding-left: 3%;
}

.contribution-wrap .section02 .meet01 article .title {
  width: 100%;
  position: relative;
}

.contribution-wrap .section02 .meet01 article .title h3 {
  font-weight: 200;
}

.contribution-wrap .section02 .meet01 article .title p {
  margin: 0;
}

.contribution-wrap .section02 .meet01 article .title a {
  float: right;
  position: absolute;
  right: 0;
  top: 50%;
  border: 1px solid #ababab;
  font-size: .7em;
  padding: 10px 30px;
}

.contribution-wrap .section02 .meet01 article img {
  width: 100%;
}

.contribution-wrap .meet02 {
  width: 100%;
  margin: 5% auto;
}

.contribution-wrap .meet02 > article {
  width: 100%;
  padding-right: 3%;
}

.contribution-wrap .meet02 > article:nth-of-type(3) {
  padding-right: 0;
}

.contribution-wrap .meet02 > article .title {
  width: 100%;
  position: relative;
}

.contribution-wrap .meet02 > article .title h3 {
  font-weight: 200;
}

.contribution-wrap .meet02 > article .title a {
  float: right;
  position: absolute;
  right: 0%;
  top: 60%;
  border: 1px solid #ababab;
  font-size: .7em;
  padding: 10px 30px;
}

.contribution-wrap .meet02 > article img {
  width: 100%;
}

.contribution-wrap .section03 {
  margin-bottom: 5%;
}

.contribution-wrap .section03 article {
  margin: 5% auto;
}

.contribution-wrap .section03 article .title h3 {
  font-weight: 200;
  margin-bottom: 3%;
}

.contribution-wrap .section03 article .title p {
  margin: 0;
}

.contribution-wrap .section03 article figure {
  width: 100%;
}

.contribution-wrap .section03 article figure img {
  width: 55%;
}

.contribution-wrap .section03 article figure figcaption {
  width: 40%;
}

.contribution-wrap .section03 article figure figcaption dl dd {
  color: #666;
}
/*# sourceMappingURL=contribution1_1.css.map */