@import url("common.css");
main {
  width: 100%;
  background: url("../img/sub_bg.jpg") no-repeat;
  margin: 0 auto 10rem;
}

main .about_spot {
  padding: 12rem 0 0 0;
}

main .about_spot h1 {
  color: #fff;
  font-size: 4em;
  text-align: center;
}

main .about_spot p {
  color: #fff;
  text-align: center;
  font-size: 1.2em;
  font-weight: 900;
}

.diversity_inclusion_wrap .diversity_wrap h2 {
  font-size: 2em;
  color: #d97234;
  font-weight: 900;
  margin-bottom: 2%;
}

.diversity_inclusion_wrap .woman_protect div article h3 mark, .diversity_inclusion_wrap .woman_empowerment div article h3 mark {
  font-size: 1.5em;
  background: transparent;
  color: #063;
  font-weight: 900;
}

.diversity_inclusion_wrap .woman_protect div article h3, .diversity_inclusion_wrap .woman_empowerment div article h3 {
  font-size: 1.5em;
  margin-bottom: 5%;
}

.diversity_inclusion_wrap .diversity_wrap .division ul, .diversity_inclusion_wrap .woman_protect div, .diversity_inclusion_wrap .woman_empowerment div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.breadcrumb {
  width: 70%;
  margin: 12rem auto 0;
  background-color: rgba(255, 255, 255, 0.7);
  padding: .5rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.breadcrumb a {
  font-size: 0.9em;
  color: #333;
  padding: 0 .2rem;
}

.breadcrumb span {
  color: #333;
  padding: 0 .2rem;
}

.diversity_inclusion_wrap {
  width: 70%;
  margin: 0 auto;
  -webkit-box-shadow: 0 4px 25px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 25px rgba(0, 0, 0, 0.15);
  background: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.diversity_inclusion_wrap .diversity_wrap {
  padding: 2rem;
  width: 100%;
  margin: 0 auto;
}

.diversity_inclusion_wrap .diversity_wrap h2 {
  margin: 0 auto;
}

.diversity_inclusion_wrap .diversity_wrap p {
  color: #666;
}

.diversity_inclusion_wrap .diversity_wrap .division {
  width: 100%;
  margin: 5% auto;
}

.diversity_inclusion_wrap .diversity_wrap .division ul li {
  width: 100%;
  text-align: center;
  padding: 1% 0;
  position: relative;
  border-bottom: 3px solid #e1e1e1;
}

.diversity_inclusion_wrap .diversity_wrap .division ul li::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 3px;
  background-image: linear-gradient(125deg, #86e3ce, #d0e6a5, rgba(255, 221, 148, 0.8));
  -webkit-transition: -webkit-transform .3s linear;
  transition: -webkit-transform .3s linear;
  transition: transform .3s linear;
  transition: transform .3s linear, -webkit-transform .3s linear;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  position: absolute;
  bottom: -3px;
  left: 0;
}

.diversity_inclusion_wrap .diversity_wrap .division ul li:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.diversity_inclusion_wrap .diversity_wrap .division ul li.active::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.diversity_inclusion_wrap .diversity_wrap .division ul li.active a {
  color: #063;
  font-weight: 900;
  -webkit-animation: font-animations .5s .3s infinite both alternate;
          animation: font-animations .5s .3s infinite both alternate;
}

@-webkit-keyframes font-animations {
  0% {
    color: #063;
  }
  100% {
    color: #d97234;
  }
}

@keyframes font-animations {
  0% {
    color: #063;
  }
  100% {
    color: #d97234;
  }
}

.diversity_inclusion_wrap .diversity_wrap .division ul li a {
  width: 100%;
  color: #333;
}

.diversity_inclusion_wrap .woman_protect {
  width: 100%;
}

.diversity_inclusion_wrap .woman_protect div {
  width: 100%;
  margin-bottom: 5%;
}

.diversity_inclusion_wrap .woman_protect div article {
  width: 50%;
  padding-right: 3%;
}

.diversity_inclusion_wrap .woman_protect div article :nth-of-type(2) {
  padding-right: 0%;
  padding-left: 3%;
}

.diversity_inclusion_wrap .woman_protect div article h3 {
  font-weight: 200;
}

.diversity_inclusion_wrap .woman_protect div article img {
  width: 100%;
}

.diversity_inclusion_wrap .woman_protect div article p {
  width: 100%;
  color: #ababab;
}

.diversity_inclusion_wrap .woman_empowerment {
  width: 100%;
}

.diversity_inclusion_wrap .woman_empowerment div {
  width: 100%;
  margin-bottom: 5%;
}

.diversity_inclusion_wrap .woman_empowerment div article {
  width: 50%;
  padding-right: 3%;
  margin: 0 auto;
}

.diversity_inclusion_wrap .woman_empowerment div article :nth-of-type(2) {
  padding-right: 0%;
  padding-left: 3%;
}

.diversity_inclusion_wrap .woman_empowerment div article h3 {
  font-weight: 200;
}

.diversity_inclusion_wrap .woman_empowerment div article img {
  width: 100%;
}

.diversity_inclusion_wrap .woman_empowerment div article p {
  width: 100%;
  color: #ababab;
}

.diversity_inclusion_wrap .woman_empowerment div article div {
  padding: 10px;
  margin: 0 auto;
  border: 1px solid #ababab;
  text-align: center;
}

.diversity_inclusion_wrap .woman_empowerment div article div a {
  width: 100%;
  color: #04a6e1;
}
/*# sourceMappingURL=diversity_inclusion.css.map */