@charset 'utf-8';
@import url('common.css');

/* header logo */
header {
    width: 100%;
    height: 75px;
    background: transperant;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;

    &.active {
        background: rgba(255, 255, 255, 0.9);
        border-bottom: 1px solid #e1e1e1;

        nav>.top_menu>li>a {
            color: #333;
        }

        .language>li>a {
            color: #333;
        }
        
        .header-wrap {
            .logo {
                a {
                    display: block;
                    width: 180px;
                    height: 75px;
                    background: url('../img/yk_logo_normal.png') no-repeat center;
                    background-size: contain;
                }
            }
        }
    }

    &.active:after {
        content: '';
        display: block;
        clear: both;
        width: 100%;
        height: 200px;
        background-color: rgba(255, 255, 255, 0.9);
    }

    &.scrollDown {
        background: rgba(255, 255, 255, 0.9);
        border: 1px solid #e1e1e1;

        nav>.top_menu>li>a {
            color: #333;
        }

        .language>li>a {
            color: #333;
        }

        .header-wrap {
            .logo {
                a {
                    display: block;
                    width: 180px;
                    height: 75px;
                    background: url('../img/yk_logo_normal.png') no-repeat center;
                    background-size: contain;
                }
            }
        }
    }

    .header-wrap {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            width: 10%;
            margin-left: 15%;

            a {
                display: block;
                width: 180px;
                height: 75px;
                background: url('../img/yk_logo_white.png') no-repeat center;
                background-size: contain;

                img {
                    width: 100%;
                    z-index: 10;
                }
            }
        }
    }
}

/* header navigation */
.header-wrap {
    nav {
        width: 40%;
        height: 100%;
        margin: 0 auto;

        > .top_menu {
            font-size: 0;
            width: 100%;
            margin: 0 auto;

            > li {
                display: inline-block;
                width: 25%;
                box-sizing: border-box;
                position: relative;
                text-align: center;
                padding: 26px 0;

                &:hover::before {
                    transform: scaleX(1);
                }

                &::before {
                    content: '';
                    display: inline-block;
                    width: 100%;
                    height: 3px;
                    background: #063;
                    background-image: linear-gradient(125deg, rgba(134, 227, 206, 1), rgba(208, 230, 165, 1), rgba(255, 221, 148, .8));
                    transition: transform .3s linear;
                    transform: scaleX(0);
                    position: absolute;
                    bottom: 0%;
                    left: 0;
                }

                > a {
                    color: #fff;
                    font-weight: 400;
                    text-align: center;
                    font-size: 1em;
                    transition: color ease 0.3s;
                    position: relative;
                }
            }
        }
    }
}

/* header subMenu */
header {
    .top_menu {

        li {
            &:hover ul {
                display: block;
                width: 100%;
            }

            > ul {
                position: absolute;
                left: 0;
                top: 75px;
                width: 100%;
                display: none;

                > li {
                    padding: 0 10% 5% 10%;
                    text-align: center;

                    > a {
                        font-size: .9em;
                        color: #888;

                        &:hover {
                            width: 100%;
                            color: #063;
                            font-weight: 600;
                            animation: font-animations .5s .3s infinite both alternate;
                        }

                        @keyframes font-animations {
                            0% {
                                color: #063;
                            }

                            100% {
                                color: #d97234;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* header language */

.header-wrap {
    >.language {
        width: 10%;
        margin-right: 10%;


        >li {
            position: relative;
            width: 100%;

            &:after {
                content: '';
                display: inline-block;
                width: 0px;
                height: 0px;
                border-top: 7px solid #ababab;
                border-bottom: 7px solid none;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
            }

            &:hover .language_list {
                display: block;
            }

            >a {
                color: #fff;
                font-size: .7em;
            }

            >.language_list {
                position: absolute;
                left: 0;
                top: 1rem;
                display: none;

                >li {
                    display: inline-block;

                    >a {
                        text-align: left;
                        font-size: .7em;
                        color: #04a6e1
                    }
                }
            }
        }
    }
}

/* header burgerMenu */
.header-wrap {
    .menu-trigger {
        width: 26px;
        height: 16px;
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        display: none;

        &.active {
            color: #333;

            span {
                &:nth-of-type(1) {
                    left: 0;
                    top: 50%;
                    transform: translateY(0) rotate(-45deg);
                }

                &:nth-of-type(2) {
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    opacity: 0;
                }

                &:nth-of-type(3) {
                    left: 0;
                    top: 50%;
                    transform: translateY(0) rotate(45deg);
                }
            }
        }

        span {
            position: absolute;
            display: inline-block;
            width: 100%;
            height: 2px;
            background: #fff;

            &:nth-of-type(1) {
                top: 0%;
            }

            &:nth-of-type(2) {
                top: 50%;
                transform: translateY(-50%);
            }

            &:nth-of-type(3) {
                top: 100%;
                transform: translateY(-100%);
            }
        }
    }
}

/* ---------------------------------------------------- header END */

// MAIN

main {
    width: 100%;
    background: url('../img/sub_bg.jpg') no-repeat;
    margin: 0 auto 10rem;

    .about_spot {
        padding: 12rem 0 0 0;

        h1 {
            color: #fff;
            font-size: 4em;
            text-align: center;
        }

        p {
            color: #fff;
            text-align: center;
            font-size: 1.2em;
            font-weight: 900;
        }
    }
}

/* YK hurb */

main {
    width: 100%;

    .ykhurb_wrap {
        position: fixed;
        right: 0;
        bottom: -8%;
        background: rgba(255, 255, 255, 0.9);
        border: 1px solid #e1e1e1;
        padding: 1.5rem 3.5rem 1.5rem 3rem;
        transform: rotate(90deg);
        transform-origin: 100% 0%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 10;

        .btn_wrap {
            p {
                margin: 0;
                color: #063;
                font-weight: 100;
                animation: hub-font-animations .5s .3s infinite both alternate;

                @keyframes hub-font-animations {
                    0% {
                        color: #063;
                    }

                    100% {
                        color: #d97234;
                    }
                }

                mark {
                    background: transparent;
                    color: #d97234;
                    font-weight: 900;
                    animation: hub-font-animations2 .5s .3s infinite both alternate;
                }

                @keyframes hub-font-animations2 {
                    0% {
                        color: #d97234;
                    }

                    100% {
                        color: #063;
                    }
                }
            }
        }

        .list_btn {
            width: 0px;
            height: 0px;
            border-top: 7px solid #fff;
            border-bottom: 7px solid none;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            position: absolute;
            right: 15%;
            top: 50%;
            transform: translate(-15%, -50%);
        }
    }
}


main {
    .ykhurb_wrap2 {
        width: 20rem;
        height: 100vh;
        padding: 0;
        background: #f7f8fa;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 100;
        transition: .5s;

        .ykhurb {
            padding: 1em;

            .title {
                overflow: hidden;

                &:after {
                    content: '';
                    display: block;
                    width: 100%;
                    border-bottom: 1px solid #e1e1e1;
                    margin-top: 1.2rem;
                }

                h2 {
                    font-size: 1.5em;
                    font-weight: 900;
                    margin: 0;

                    mark {
                        background: transparent;
                        font-weight: 900;
                        font-size: 1.1em;
                    }
                }

                a {
                    float: right;
                    transform: translateY(-150%);

                    img {
                        width: 100%;
                    }
                }
            }

            %hub_strong {
                position: absolute;
                left: 1rem;
                top: 1rem;
            }

            %hub_p {
                font-size: .9em;
                font-weight: 100;
            }

            ul {
                width: 100%;
                font-size: 0;
                padding-inline-start: 0px;

                li {
                    width: 100%;
                    position: relative;
                    margin: 1rem 0;
                }

                .mall {
                    img {
                        width: 100%;
                    }

                    strong {
                        @extend %hub_strong;
                        color: #fff;
                    }

                    p {
                        @extend %hub_p;
                    }
                }

                .azamall {
                    img {
                        width: 100%;
                    }

                    strong {
                        @extend %hub_strong;
                        color: #333;
                    }

                    p {
                        @extend %hub_p;
                    }
                }

                .ch_yk {
                    img {
                        width: 100%;
                    }

                    strong {
                        @extend %hub_strong;
                        color: #333;
                    }

                    p {
                        @extend %hub_p;
                    }
                }

                .yk_ticket {
                    img {
                        width: 100%;
                    }

                    strong {
                        @extend %hub_strong;
                        color: #333;
                    }

                    p {
                        @extend %hub_p;
                    }
                }

                .yk_sns {
                    a {
                        font-size: 0;
                        width: 90px;
                        height: 90px;
                        display: inline-block;
                        padding: 1.5rem 0.5rem;
                        border-radius: 50%;
                        background: #fff;
                        margin-right: .2rem;

                        &:nth-of-type(3) {
                            margin-right: 0;
                        }

                        &:nth-of-type(2) span {
                            background-position: -4.2rem 0;
                        }

                        &:nth-of-type(3) span {
                            background-position: -8.6rem 0;
                        }

                        span {
                            background: url('../img/ykHurb_snsicon.png') no-repeat;
                            display: block;
                            width: 5rem;
                            height: 2.5rem;
                        }
                    }
                }
            }
        }
    }
}


// SECTION 01: 우리강산 푸르게 푸르게

%h2 {
    font-size: 2em;
    color: #d97234;
    font-weight: 900;
    margin-bottom: 2%;
}

%strong {
    font-size: 1.5em;
    margin-bottom: 2%;
    color: #063;
}

%mark {
    font-size: 1.5em;
    background: transparent;
    color: #063;
    font-weight: 900;
}
%h3 {
    font-size: 1.5em;
    margin-bottom: 5%;
}

%flex {
    display: flex;
    justify-content: space-between;
}

.breadcrumb {
    width: 70%;
    margin: 12rem auto 0;
    background-color: rgba(255, 255, 255, 0.7);
    padding: .5rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    a {
        font-size: 0.9em;
        color: #333;
        padding: 0 .2rem;
    }

    span {
        color: #333;
        padding: 0 .2rem;
    }
}
.volunteer-wrap {
    width: 70%;
    margin: 0 auto;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.15);
    background: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    .donation_wrap {
        padding: 2rem;
        width: 100%;
        margin: 0 auto;

        h2 {
            @extend %h2;
            margin: 0 auto;
        }

        p {}

    }

    .volunteer_list {
        width: 100%;
        margin: 5% auto;

        div {
            width: 100%;
            @extend %flex;
            margin-bottom: 5%;

            article {
                width: 50%;
                padding-right: 3%;
                margin: 0 auto;

                &:nth-of-type(2) {
                    padding-left: 3%;
                    padding-right: 0;
                }

                h3 {
                    @extend %h3;
                    font-weight: 200;

                    mark {
                        @extend %mark;
                    }
                }

                img {
                    width: 100%;
                }

                p {
                    width: 100%;
                    color: #ababab;
                }
            }
        }
    }
}



footer {
    width: 100%;
    text-align: center;

    > div {
        border-top: 1px solid #e1e1e1;
        padding-top: 1rem;

        a {
            width: 100%;

            div {
                width: 10%;
                margin: 0 auto;

                img {
                    width: 100%;
                }
            }
        }

        ul {
            li {
                display: inline-block;
                font-weight: lighter;
                font-size: .8em;

                &:after {
                    content: '';
                    display: inline-block;
                    width: 2px;
                    height: 10px;
                    background: #ababab;
                    margin: 0 5px;
                }
            }
        }

        p {
            font-weight: lighter;
            font-size: .8em;
        }
    }
}