@charset 'utf-8';
@import url('common.css');

main {
    width: 100%;
    background: url('../img/aboutus.jpg') no-repeat;
    margin: 0 auto 10rem;


    .about_spot {
        padding: 12rem 0 0 0;

        h1 {
            color: #fff;
            font-size: 4em;
            text-align: center;
        }

        p {
            color: #fff;
            text-align: center;
            font-size: 1.2em;
            font-weight: 900;
        }
    }
}

%h2 {
    font-size: 2em;
    color: #d97234;
    font-weight: 900;
    margin-bottom: 2%;
}

%strong {
    font-size: 1.5em;
    margin-bottom: 2%;
}

%mark {
    font-size: 1.5em;
    background: transparent;
    color: #063;
    font-weight: 900;
}

.breadcrumb {
    width: 70%;
    margin: 12rem auto 0;
    background-color: rgba(255, 255, 255, 0.7);
    padding: .5rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    a {
        font-size: 0.9em;
        color: #333;
        padding: 0 .2rem;
    }

    span {
        color: #333;
        padding: 0 .2rem;
    }
}

.yk-history-wrap {
    width: 70%;
    margin: 0 auto;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.15);
    background: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    .history-wrap {
        padding: 2rem;
        margin: 0 auto;

        .historyYear {
            width: 100%;

            ul {
                width: 100%;
                display: flex;
                justify-content: space-between;

                li {
                    text-align: center;
                    width: 100%;
                    display: inline-block;
                    padding: .5rem 2rem;
                    border-bottom: 3px solid #e1e1e1;
                    position: relative;

                    &::before {
                        content: '';
                        display: inline-block;
                        width: 100%;
                        height: 3px;
                        background-image: linear-gradient(125deg, rgba(134, 227, 206, 1), rgba(208, 230, 165, 1), rgba(255, 221, 148, .8));
                        transition: transform .3s linear;
                        transform: scaleX(0);
                        position: absolute;
                        bottom: -3px;
                        left: 0;
                    }
                    
                    &:hover::before {
                        transform: scaleX(1);
                    }
    
                    &.active {
                        &::before {
                            transform: scaleX(1);
                        }
    
                        a {
                            font-weight: 900;
                        }
                    }
                }

                a {
                    color: #333;
                    font-size: 1em;
                    text-align: center;
                    }
                }
            }
        }

        h2 {
            @extend %h2;
            margin-top: 3rem;
        }

        .history {
            width: 80%;
            margin: 0 auto;

            figure {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 5% 0;

                img {
                    width: 50%;
                }

                figcaption {
                    width: 45%;

                    h3 {
                        font-size: 1.3em;
                        margin-bottom: 2%;
                    }

                    strong {
                        display: inline-block;
                        font-style: italic;
                        color: #fff;
                        background: #063;
                        margin-bottom: 2%;
                        padding: 0 5px;
                    }
                }
            }
        }

    }
    