@import url("common.css");
main {
  width: 100%;
  background: url("../img/aboutus.jpg") no-repeat;
  margin: 0 auto 10rem;
}

main .about_spot {
  padding: 12rem 0 0 0;
}

main .about_spot h1 {
  color: #fff;
  font-size: 4em;
  text-align: center;
}

main .about_spot p {
  color: #fff;
  text-align: center;
  font-size: 1.2em;
  font-weight: 900;
}

.yk-history-wrap h2 {
  font-size: 2em;
  color: #d97234;
  font-weight: 900;
  margin-bottom: 2%;
}

.breadcrumb {
  width: 70%;
  margin: 12rem auto 0;
  background-color: rgba(255, 255, 255, 0.7);
  padding: .5rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.breadcrumb a {
  font-size: 0.9em;
  color: #333;
  padding: 0 .2rem;
}

.breadcrumb span {
  color: #333;
  padding: 0 .2rem;
}

.yk-history-wrap {
  width: 70%;
  margin: 0 auto;
  -webkit-box-shadow: 0 4px 25px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 25px rgba(0, 0, 0, 0.15);
  background: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.yk-history-wrap .history-wrap {
  padding: 2rem;
  margin: 0 auto;
}

.yk-history-wrap .history-wrap .historyYear {
  width: 100%;
}

.yk-history-wrap .history-wrap .historyYear ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.yk-history-wrap .history-wrap .historyYear ul li {
  text-align: center;
  width: 100%;
  display: inline-block;
  padding: .5rem 2rem;
  border-bottom: 3px solid #e1e1e1;
  position: relative;
}

.yk-history-wrap .history-wrap .historyYear ul li::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 3px;
  background-image: linear-gradient(125deg, #86e3ce, #d0e6a5, rgba(255, 221, 148, 0.8));
  -webkit-transition: -webkit-transform .3s linear;
  transition: -webkit-transform .3s linear;
  transition: transform .3s linear;
  transition: transform .3s linear, -webkit-transform .3s linear;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  position: absolute;
  bottom: -3px;
  left: 0;
}

.yk-history-wrap .history-wrap .historyYear ul li:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.yk-history-wrap .history-wrap .historyYear ul li.active::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.yk-history-wrap .history-wrap .historyYear ul li.active a {
  font-weight: 900;
}

.yk-history-wrap .history-wrap .historyYear ul a {
  color: #333;
  font-size: 1em;
  text-align: center;
}

.yk-history-wrap h2 {
  margin-top: 3rem;
}

.yk-history-wrap .history {
  width: 80%;
  margin: 0 auto;
}

.yk-history-wrap .history figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5% 0;
}

.yk-history-wrap .history figure img {
  width: 50%;
}

.yk-history-wrap .history figure figcaption {
  width: 45%;
}

.yk-history-wrap .history figure figcaption h3 {
  font-size: 1.3em;
  margin-bottom: 2%;
}

.yk-history-wrap .history figure figcaption strong {
  display: inline-block;
  font-style: italic;
  color: #fff;
  background: #063;
  margin-bottom: 2%;
  padding: 0 5px;
}
/*# sourceMappingURL=history.css.map */