@charset "UTF-8";
@import url("common.css");
html,
body {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

.section-wrap {
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.section00 {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.section00 .main_vdo {
  width: 100%;
  height: 100vh;
}

.section00 .main_vdo video {
  height: 120vh;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: contain;
     object-fit: contain;
}

.section01 {
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #e1e1e1), color-stop(50%, #fff));
  background: linear-gradient(360deg, #e1e1e1 50%, #fff 50%);
}

.section01 .historyWrap {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.section01 .historyWrap .slide {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.section01 .historyWrap .slide ul li figure {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section01 .historyWrap .slide ul li figure.active img,
.section01 .historyWrap .slide ul li figure.active figcaption {
  opacity: 1;
}

.section01 .historyWrap .slide ul li figure img {
  width: 60%;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
}

.section01 .historyWrap .slide ul li figure figcaption {
  width: 35%;
  text-align: center;
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
}

.section01 .historyWrap .slide ul li figure figcaption strong {
  font-size: 4em;
  font-weight: 900;
}

.section01 .historyWrap .slide ul li figure figcaption span {
  display: block;
  font-size: 2em;
  font-weight: 900;
}

.section01 .historyWrap .slide ul li figure figcaption p {
  color: #ababab;
}

.section02 {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url("../img/section02_bg.jpg") no-repeat center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section02 .product-wrap {
  width: 100%;
  margin-left: 15%;
}

.section02 .product-wrap .text_02 h2 {
  font-size: 4em;
  line-height: 2;
}

.section02 .product-wrap .text_02 .philosophy:hover a {
  background-image: linear-gradient(125deg, #86e3ce, #d0e6a5, rgba(255, 221, 148, 0.8));
  color: #fff;
}

.section02 .product-wrap .text_02 .philosophy a {
  color: #333;
  padding: 10px 50px;
  background-color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
  border: 1px solid #e1e1e1;
}

.section03 {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url("../img/mainbg2.jpg") no-repeat;
}

.section03 .csr-wrap {
  width: 70%;
  margin: 0rem auto 0;
  padding: 7rem 0;
}

.section03 .csr-wrap .title_03 {
  margin: 0 auto;
}

.section03 .csr-wrap .title_03 h2 {
  text-align: center;
  font-size: 4em;
}

.section03 .csr-wrap .csr {
  width: 100%;
  margin: 5% auto;
}

.section03 .csr-wrap .csr .csr_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section03 .csr-wrap .csr .csr_list li a figure {
  position: relative;
  overflow: hidden;
}

.section03 .csr-wrap .csr .csr_list li a figure img {
  display: block;
  width: 100%;
}

.section03 .csr-wrap .csr .csr_list li a figure figcaption {
  width: 100%;
  height: 165px;
  position: absolute;
  left: 0;
  bottom: -100px;
  color: #333;
  padding: 4% 5%;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transition: .3s;
  transition: .3s;
}

.section03 .csr-wrap .csr .csr_list li a figure figcaption:hover {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.section03 .csr-wrap .csr .csr_list li a figure figcaption::before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 0%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background-color: #d97234;
  border-radius: 50%;
  -webkit-transition: 1s linear;
  transition: 1s linear;
  -webkit-animation: arrow-ani .35s .2s linear infinite alternate both;
          animation: arrow-ani .35s .2s linear infinite alternate both;
}

.section03 .csr-wrap .csr .csr_list li a figure figcaption:hover::before {
  opacity: 0;
}

.section03 .csr-wrap .csr .csr_list li a figure figcaption:hover h3 {
  width: 100%;
  color: #063;
  font-weight: 600;
  -webkit-animation: nav-font-animations .5s .3s infinite both alternate;
          animation: nav-font-animations .5s .3s infinite both alternate;
}

.section03 .csr-wrap .csr .csr_list li a figure figcaption h3 {
  font-size: 1.3em;
}

.section04 {
  width: 100%;
  position: relative;
  height: 100vh;
  background: url("../img/section04_img.jpg") center no-repeat;
  overflow: hidden;
}

.section04 .news-wrap {
  width: 70%;
  margin: 0rem auto;
  padding: 3rem 0;
}

.section04 .news-wrap .news {
  width: 100%;
}

.section04 .news-wrap .news .news_top {
  margin: 100px auto;
}

.section04 .news-wrap .news .news_top img {
  width: 45%;
  float: left;
}

.section04 .news-wrap .news .news_top div {
  width: 50%;
  float: right;
  color: #fff;
}

.section04 .news-wrap .news .news_top div h2 {
  font-size: 4em;
  margin-bottom: 3%;
}

.section04 .news-wrap .news .news_top div h2:before {
  content: '';
  display: block;
  width: 10%;
  border: 2px solid #04a6e1;
}

.section04 .news-wrap .news .news_top div strong {
  font-size: 1.5em;
  margin-bottom: 3%;
}

.section04 .news-wrap .news .news_body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section04 .news-wrap .news .news_body li {
  display: inline-block;
  margin: 2% auto;
  width: 25%;
  margin-right: 2%;
}

.section04 .news-wrap .news .news_body li:nth-of-type(4) {
  margin-right: 0;
}

.section04 .news-wrap .news .news_body li a figure {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.section04 .news-wrap .news .news_body li a figure:hover figcaption {
  opacity: 1;
}

.section04 .news-wrap .news .news_body li a figure:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.section04 .news-wrap .news .news_body li a figure img {
  width: 100%;
  -webkit-transition: .5s;
  transition: .5s;
  display: block;
}

.section04 .news-wrap .news .news_body li a figure figcaption {
  position: absolute;
  left: 0;
  top: 0%;
  text-align: center;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.section04 .news-wrap .news .news_body li a figure figcaption p {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
}

footer {
  width: 100%;
  text-align: center;
}

footer > div {
  border-top: 1px solid #e1e1e1;
  padding: 1rem;
}

footer > div a {
  width: 100%;
}

footer > div a div {
  width: 10%;
  margin: 0 auto;
}

footer > div a div img {
  width: 100%;
}

footer > div ul li {
  display: inline-block;
  font-weight: lighter;
  font-size: .8em;
}

footer > div ul li:after {
  content: '';
  display: inline-block;
  width: 2px;
  height: 10px;
  background: #ababab;
  margin: 0 5px;
}

footer > div p {
  font-weight: lighter;
  font-size: .8em;
}

@-webkit-keyframes arrow-ani {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
}

@keyframes arrow-ani {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
}

@-webkit-keyframes nav-font-animations {
  0% {
    color: #063;
  }
  100% {
    color: #d97234;
  }
}

@keyframes nav-font-animations {
  0% {
    color: #063;
  }
  100% {
    color: #d97234;
  }
}

/* 1024px 이하 */
@media (max-width: 1024px) {
  /* VIDEO */
  .section00 .main_vdo video {
    height: 100vh;
  }
  /* HISTORY */
  .section01 {
    background: #fff;
  }
  .section01 .historyWrap {
    width: 90%;
  }
  .section01 .historyWrap .slide {
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .section01 .historyWrap .slide ul li figure {
    width: 100%;
    display: block;
  }
  .section01 .historyWrap .slide ul li figure img {
    width: 100%;
    margin-bottom: 2rem;
  }
  .section01 .historyWrap .slide ul li figure figcaption {
    width: 100%;
  }
  .section01 .historyWrap .slide ul li figure figcaption strong {
    font-size: 4rem;
  }
  .section01 .historyWrap .slide ul li figure figcaption span {
    display: block;
    font-size: 3em;
  }
  .section02 .product-wrap {
    margin-left: 10%;
  }
  .section03 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section03 .csr-wrap {
    width: 90%;
  }
  .section03 .csr-wrap .csr .csr_list li a figure figcaption {
    height: 45px;
    bottom: 0;
  }
  .section03 .csr-wrap .csr .csr_list li a figure figcaption::before {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  .section03 .csr-wrap .csr .csr_list li a figure figcaption h3 {
    font-size: .8em;
  }
  .section03 .csr-wrap .csr .csr_list li a figure figcaption p {
    display: none;
  }
  .section04 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section04 .news-wrap {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .section01 .historyWrap {
    width: 95%;
  }
  .section01 .historyWrap .slide ul li figure figcaption strong {
    font-size: 2em;
  }
  .section01 .historyWrap .slide ul li figure figcaption span {
    font-size: 1em;
  }
  .section01 .historyWrap .slide ul li figure figcaption p {
    font-size: .8em;
  }
  .section02 .product-wrap {
    width: 95%;
    margin: 0 auto;
  }
  .section02 .product-wrap .text_02 h2 {
    font-size: 3em;
  }
  .section02 .product-wrap .text_02 .philosophy a {
    font-size: .8em;
  }
  .section03 .csr-wrap {
    width: 95%;
  }
  .section03 .csr-wrap .title_03 h2 {
    text-align: left;
    font-size: 3em;
  }
  .section04 .news-wrap {
    width: 95%;
  }
  .section04 .news-wrap .news .news_top img {
    width: 100%;
  }
  .section04 .news-wrap .news .news_top div {
    width: 100%;
  }
  .section04 .news-wrap .news .news_top div h2 {
    font-size: 3em;
  }
  .section04 .news-wrap .news .news_top div strong {
    font-size: 1.2em;
  }
  .section04 .news-wrap .news .news_top div p {
    font-size: .8em;
  }
}

@media (max-width: 480px) {
  .section01 .historyWrap {
    width: 95%;
  }
  .section02 .product-wrap {
    width: 95%;
    margin: 0 auto;
  }
  .section02 .product-wrap .text_02 h2 {
    font-size: 2em;
  }
  .section03 .csr-wrap {
    width: 95%;
  }
  .section03 .csr-wrap .title_03 h2 {
    text-align: left;
    font-size: 2em;
  }
  .section03 .csr-wrap .csr .csr_list li:nth-of-type(2), .section03 .csr-wrap .csr .csr_list li:nth-of-type(3) {
    display: none;
  }
  .section04 .news-wrap {
    width: 95%;
  }
  .section04 .news-wrap .news .news_top img {
    margin-top: 1rem;
    width: 100%;
  }
  .section04 .news-wrap .news .news_top div {
    width: 100%;
  }
  .section04 .news-wrap .news .news_top div h2 {
    font-size: 2em;
  }
  .section04 .news-wrap .news .news_top div strong {
    font-size: 1em;
  }
  .section04 .news-wrap .news .news_top div p {
    display: none;
  }
}
/*# sourceMappingURL=index.css.map */