@charset 'utf-8';
@import url('common_index.css');


@mixin after($c, $d, $p) {
    &:after {
        content: $c;
        display: $d;
        padding: 0 #{$p}px;
    }
}

html,body{
    overflow:hidden;
}

html {scroll-behavior:smooth;}

/* header logo */
header {
    width: 100%;
    height: 75px;
    background: transperant;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;

    &.active {
        background: rgba(255, 255, 255, 0.9);
        border-bottom: 1px solid #e1e1e1;

        nav>.top_menu>li>a {
            color: #333;
        }

        .language>li>a {
            color: #333;
        }
        
        .header-wrap {
            .logo {
                a {
                    display: block;
                    width: 180px;
                    height: 75px;
                    background: url('../img/yk_logo_normal.png') no-repeat center;
                    background-size: contain;
                }
            }
        }
    }

    &.active:after {
        content: '';
        display: block;
        clear: both;
        width: 100%;
        height: 200px;
        background-color: rgba(255, 255, 255, 0.9);
    }

    &.scrollDown {
        background: rgba(255, 255, 255, 0.9);
        border: 1px solid #e1e1e1;

        nav>.top_menu>li>a {
            color: #333;
        }

        .language>li>a {
            color: #333;
        }

        .header-wrap {
            .logo {
                a {
                    display: block;
                    width: 180px;
                    height: 75px;
                    background: url('../img/yk_logo_normal.png') no-repeat center;
                    background-size: contain;
                }
            }
        }
    }

    .header-wrap {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:before {
            content: '';
            display: block;
            opacity: 0;
            width: 100%;
            height: 100%;
            position: absolute;
        }

        .logo {
            width: 10%;
            margin-left: 15%;

            a {
                display: block;
                width: 180px;
                height: 75px;
                background: url('../img/yk_logo_white.png') no-repeat center;
                background-size: contain;

                img {
                    width: 100%;
                    z-index: 10;
                }
            }
        }
    }
}

/* header navigation */
.header-wrap {
    nav {
        width: 40%;
        height: 100%;
        margin: 0 auto;

        > .top_menu {
            font-size: 0;
            width: 100%;
            margin: 0 auto;

            > li {
                display: inline-block;
                width: 25%;
                box-sizing: border-box;
                position: relative;
                text-align: center;
                padding: 26px 0;

                &:hover::before {
                    transform: scaleX(1);
                }

                &::before {
                    content: '';
                    display: inline-block;
                    width: 100%;
                    height: 3px;
                    background: #063;
                    background-image: linear-gradient(125deg, rgba(134, 227, 206, 1), rgba(208, 230, 165, 1), rgba(255, 221, 148, .8));
                    transition: transform .3s linear;
                    transform: scaleX(0);
                    position: absolute;
                    bottom: 0%;
                    left: 0;
                }

                > a {
                    color: #fff;
                    font-weight: 400;
                    text-align: center;
                    font-size: 1em;
                    transition: color ease 0.3s;
                    position: relative;
                }
            }
        }
    }
}

/* header subMenu */
header {
    .top_menu {

        li {
            &:hover ul {
                display: block;
                width: 100%;
            }

            > ul {
                position: absolute;
                left: 0;
                top: 75px;
                width: 100%;
                display: none;

                > li {
                    padding: 0 10% 5% 10%;
                    text-align: center;

                    > a {
                        font-size: .9em;
                        color: #888;

                        &:hover {
                            width: 100%;
                            color: #063;
                            font-weight: 600;
                            animation: font-animations .5s .3s infinite both alternate;
                        }

                        @keyframes font-animations {
                            0% {
                                color: #063;
                            }

                            100% {
                                color: #d97234;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* header language */

.header-wrap {
    >.language {
        width: 10%;
        margin-right: 10%;


        >li {
            position: relative;
            width: 100%;

            &:after {
                content: '';
                display: inline-block;
                width: 0px;
                height: 0px;
                border-top: 7px solid #ababab;
                border-bottom: 7px solid none;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
            }

            &:hover .language_list {
                display: block;
            }

            >a {
                color: #fff;
                font-size: .7em;
            }

            >.language_list {
                position: absolute;
                left: 0;
                top: 1rem;
                display: none;

                >li {
                    display: inline-block;

                    >a {
                        text-align: left;
                        font-size: .7em;
                        color: #04a6e1
                    }
                }
            }
        }
    }
}

/* header burgerMenu */
.header-wrap {
    .menu-trigger {
        width: 26px;
        height: 16px;
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        display: none;

        &.active {
            color: #333;

            span {
                &:nth-of-type(1) {
                    left: 0;
                    top: 50%;
                    transform: translateY(0) rotate(-45deg);
                }

                &:nth-of-type(2) {
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    opacity: 0;
                }

                &:nth-of-type(3) {
                    left: 0;
                    top: 50%;
                    transform: translateY(0) rotate(45deg);
                }
            }
        }

        span {
            position: absolute;
            display: inline-block;
            width: 100%;
            height: 2px;
            background: #fff;

            &:nth-of-type(1) {
                top: 0%;
            }

            &:nth-of-type(2) {
                top: 50%;
                transform: translateY(-50%);
            }

            &:nth-of-type(3) {
                top: 100%;
                transform: translateY(-100%);
            }
        }
    }
}

/* ---------------------------------------------------- header END */

// MAIN

main {
    position: relative;
}

// SIDE MENU

main {
    .side_menu {
        position: fixed;
        right: 0;
        top: 30%;
        z-index: 10;

        ul {
            li {
                text-align: right;
                padding: 5px 0;

                &.active {
                    a {
                        width: 100%;
                        color: #063;
                        font-weight: 600;
                        animation: nav-font-animations .5s .3s infinite both alternate;
                    }

                    span {
                        opacity: 1;
                    }
                }

                a {
                    font-size: .8em;
                    color: #ababab;

                    @keyframes nav-font-animations {
                        0% {
                            color: #063;
                        }
                        100% {
                            color: #d97234;
                        }
                    }

                    span {
                        width: 25px;
                        height: 3px;
                        background-image: linear-gradient(125deg, rgba(134, 227, 206, 1), rgba(208, 230, 165, 1), rgba(255, 221, 148, .8));
                        display: inline-block;
                        transform: translateY(-5px);
                        margin-left: 5px;
                        transition: transform .3s linear;
                        opacity: 0;
                    }
                }

                span {
                    width: 25px;
                    height: 2px;
                    background: #04a6e1;
                    display: inline-block;
                    transform: translateY(-5px);
                    margin-left: 5px;
                    opacity: 0;

                    &.active {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

// 유한킴벌리 hub

main {
    width: 100%;

    .ykhurb_wrap {
        position: fixed;
        right: 0;
        bottom: -8%;
        background: rgba(255, 255, 255, 0.9);
        border: 1px solid #e1e1e1;
        padding: 1.5rem 3.5rem 1.5rem 3rem;
        transform: rotate(90deg);
        transform-origin: 100% 0%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 10;

        .btn_wrap {
            p {
                margin: 0;
                color: #063;
                font-weight: 100;
                animation: hub-font-animations .5s .3s infinite both alternate;

                @keyframes hub-font-animations {
                    0% {
                        color: #063;
                    }

                    100% {
                        color: #d97234;
                    }
                }

                mark {
                    background: transparent;
                    color: #d97234;
                    font-weight: 900;
                    animation: hub-font-animations2 .5s .3s infinite both alternate;
                }

                @keyframes hub-font-animations2 {
                    0% {
                        color: #d97234;
                    }

                    100% {
                        color: #063;
                    }
                }
            }
        }

        .list_btn {
            width: 0px;
            height: 0px;
            border-top: 7px solid #fff;
            border-bottom: 7px solid none;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            position: absolute;
            right: 15%;
            top: 50%;
            transform: translate(-15%, -50%);
        }
    }
}

.ykhurb_wrap2 {
    width: 20rem;
    height: 100vh;
    padding: 0;
    background: #f7f8fa;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    transition: .5s;

    .ykhurb {
        padding: 1em;

        .title {
            overflow: hidden;

            &:after {
                content: '';
                display: block;
                width: 100%;
                border-bottom: 1px solid #e1e1e1;
                margin-top: 1.2rem;
            }

            h2 {
                font-size: 1.5em;
                font-weight: 900;
                margin: 0;

                mark {
                    background: transparent;
                    font-weight: 900;
                    font-size: 1.1em;
                }
            }

            a {
                float: right;
                transform: translateY(-150%);

                img {
                    width: 100%;
                }
            }
        }

        %hub_strong {
            position: absolute;
            left: 1rem;
            top: 1rem;
        }

        %hub_p {
            font-size: .9em;
            font-weight: 100;
        }

        ul {
            width: 100%;
            font-size: 0;
            padding-inline-start: 0px;

            li {
                width: 100%;
                position: relative;
                margin: 1rem 0;
            }

            .mall {
                img {
                    width: 100%;
                }

                strong {
                    @extend %hub_strong;
                    color: #fff;
                }

                p {
                    @extend %hub_p;
                }
            }

            .azamall {
                img {
                    width: 100%;
                }

                strong {
                    @extend %hub_strong;
                    color: #333;
                }

                p {
                    @extend %hub_p;
                }
            }

            .ch_yk {
                img {
                    width: 100%;
                }

                strong {
                    @extend %hub_strong;
                    color: #333;
                }

                p {
                    @extend %hub_p;
                }
            }

            .yk_ticket {
                img {
                    width: 100%;
                }

                strong {
                    @extend %hub_strong;
                    color: #333;
                }

                p {
                    @extend %hub_p;
                }
            }

            .yk_sns {
                a {
                    font-size: 0;
                    width: 90px;
                    height: 90px;
                    display: inline-block;
                    padding: 1.5rem 0.5rem;
                    border-radius: 50%;
                    background: #fff;
                    margin-right: .2rem;

                    &:nth-of-type(3) {
                        margin-right: 0;
                    }

                    &:nth-of-type(2) span {
                        background-position: -4.2rem 0;
                    }

                    &:nth-of-type(3) span {
                        background-position: -8.6rem 0;
                    }

                    span {
                        background: url('../img/ykHurb_snsicon.png') no-repeat;
                        display: block;
                        width: 5rem;
                        height: 2.5rem;

                    }
                }
            }
        }
    }
}

// MAIN SECTION 01: HISTORY

.section-wrap {
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    transition: 1s;
}

.imgWrap {
    width: 100%;
    height: 100vh;
    overflow: hidden;

    .main_img {
        position: relative;
        width: 100%;
        height: 100%;

        video {
            width: 100%;
        }
    }
}


.section01 {
    width: 100%;
    height: 100vh;
    // background: linear-gradient(180deg, #ffffff 30%, rgba(255, 221, 148, 1)25% ,rgba(208, 230, 165, 1) 35%);

    .historyWrap {
        width: 70%;
        height: 100%;
        margin: 0 auto;
        overflow: hidden;

        .yk_history {
            width: 100%;
            margin: 1rem auto 0;
            position: relative;

            figure {
                margin: 0 auto;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: absolute;
                left: 0;
                transform: translateY(70%);

                @for $i from 1 through 4 {
                    &:nth-of-type(#{$i}) {
                        left: ((100%*$i)-100%);
                    }
                }

                img {
                    width: 50%;
                    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
                }

                figcaption {
                    width: 45%;

                    strong {
                        font-size: 4rem;
                        font-weight: 900;
                    }

                    span {
                        display: block;
                        font-size: 2em;
                        font-weight: 900;
                    }

                    p {
                        color: #ababab;
                    }
                }
            }
        }
    }
}

.historyWrap {
    .arrow_btn {
        position: absolute;
        right: 15%;
        top: 28%;
        transform: translate(-15%, -28%);

        button {
            border: 1px solid #ababab;
            background-color: transparent;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 2.5rem;
            padding: 5px;
            outline: none;

            &:hover {
                background-color: #04a6e1;
            }

            img {
                width: 50%;
            }
        }

        p {
            color: #ababab;

            mark {
                background-color: transparent;
                color: #333;
            }
        }
    }
}

// <!--MAIN SECTION 02: PRODUCT-->

.section02 {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url('../img/section2.jpg') no-repeat center;
    background-size: contain;

    .product-wrap {
        width: 100%;
        margin: 5rem auto 0;

        .text_02 {
            width: 70%;
            margin: 25rem auto;

            h2 {
                font-size: 4em;
                font-weight: bold;
            }

            .philosophy {
                margin: 2% 0;

                &:hover a {
                    background-image: linear-gradient(125deg, rgba(134, 227, 206, 1), rgba(208, 230, 165, 1), rgba(255, 221, 148, .8));
                    color: #fff;
                }

                a {
                    color: #333;
                    padding: 10px 50px;
                    background-color: #fff;
                    transition: .5s;
                    border: 1px solid #e1e1e1;
                }
            }
        }
    }
}

.section03 {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url('../img/mainbg2.jpg') no-repeat;

    .csr-wrap {
        width: 70%;
        margin: 0rem auto 0;
        padding: 7rem 0;

        .title_03 {
            margin: 0 auto;

            h2 {
                text-align: center;
                font-size: 4em;
            }
        }

        .csr {
            width: 100%;
            margin: 5% auto;

            .csr_list {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 0;

                li {
                    display: inline-block;
                    width: 33%;

                    a {

                        figure {
                            position: relative;
                            overflow: hidden;

                            img {
                                display: block;
                                width: 100%;
                            }

                            figcaption {

                                &::before {
                                    content: '';
                                    display: block;
                                    position: absolute;
                                    left: 50%;
                                    top: 0%;
                                    transform: translateY(-100%);
                                    width: 15px;
                                    height: 15px;
                                    background-color: #d97234;
                                    border-radius: 50%;
                                    transition: 1s linear;
                                    animation: arrow-ani .35s .2s linear infinite alternate both;
                                }

                                @keyframes arrow-ani {
                                    0% {
                                        transform: translateY(-100%);
                                    }
                                    100% {
                                        transform: translateY(-200%);
                                    }
                                }

                                position: absolute;
                                left: 0;
                                bottom: -13%;
                                color: #333;
                                padding: 4% 5%;
                                width: 100%;
                                margin: 0 auto;
                                background-color: rgba(255, 255, 255, 0.9);
                                transition: .3s;

                                &:hover {
                                    transform: translateY(-50%);
                                }

                                &:hover::before {
                                    opacity: 0;
                                }

                                &:hover h3 {
                                    width: 100%;
                                    color: #063;
                                    font-weight: 600;
                                    animation: nav-font-animations .5s .3s infinite both alternate;
                                }

                                @keyframes nav-font-animations {
                                    0% {
                                        color: #063;
                                    }

                                    100% {
                                        color: #d97234;
                                    }
                                }

                                h3 {
                                    font-size: 1.3em;
                                }

                                p {}
                            }
                        }
                    }
                }
            }
        }
    }
}

.section04 {
    width: 100%;
    position: relative;
    height: 100vh;
    background: url("../img/section04_img.jpg") center no-repeat;
    overflow: hidden;

    .news-wrap {
        width: 70%;
        margin: 0rem auto;
        padding: 3rem 0;

        .news {
            width: 100%;

            .news_top {
                margin: 100px auto;

                img {
                    width: 45%;
                    float: left;
                }

                div {
                    width: 50%;
                    float: right;
                    color: #fff;

                    h2 {
                        font-size: 4em;
                        margin-bottom: 3%;

                        &:before {
                            content: '';
                            display: block;
                            width: 10%;
                            border: 2px solid #04a6e1;
                        }
                    }

                    strong {
                        font-size: 1.5em;
                        margin-bottom: 3%;
                    }

                    p {}
                }
            }

            .news_body {
                width: 100%;

                display: flex;
                justify-content: space-around;
                align-items: center;

                li {
                    display: inline-block;
                    margin: 2% auto;
                    width: 25%;
                    margin-right: 2%;

                    &:nth-of-type(4) {
                        margin-right: 0;
                    }

                    a {
                        figure {
                            width: 100%;
                            position: relative;
                            overflow: hidden;

                            &:hover figcaption {
                                opacity: 1;
                            }

                            &:hover img {
                                transform: scale(1.1);
                            }

                            img {
                                width: 100%;
                                transition: .5s;
                                display: block;
                            }

                            figcaption {
                                position: absolute;
                                left: 0;
                                top: 0%;
                                // transform: translateY(-50%);
                                text-align: center;
                                opacity: 0;
                                transition: .5s;
                                width: 100%;
                                height: 100%;
                                background: rgba(0, 0, 0, 0.5);
                                color: #fff;

                                p {
                                    position: absolute;
                                    left: 50%;
                                    top: 50%;
                                    transform: translate(-50%, -50%);
                                    width: 90%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

footer {
    width: 100%;
    text-align: center;

    a {
        width: 100%;

        img {
            width: 10%;
        }
    }

    ul {
        li {
            display: inline-block;
            font-weight: lighter;
            font-size: .8em;

            &:after {
                content: '';
                display: inline-block;
                width: 2px;
                height: 10px;
                background: #ababab;
                margin: 0 5px;
            }
        }
    }

    p {
        font-weight: lighter;
        font-size: .8em;
    }
}