@charset 'utf-8';
@import url('common.css');

main {
    width: 100%;
    background: url('../img/media_bg.jpg') no-repeat;
    margin: 0 auto 10rem;

    .about_spot {
        padding: 12rem 0 0 0;

        h1 {
            color: #fff;
            font-size: 4em;
            text-align: center;
        }

        p {
            color: #fff;
            text-align: center;
            font-size: 1.2em;
            font-weight: 900;
        }
    }
}

%h2 {
    font-size: 2em;
    color: #d97234;
    font-weight: 900;
    margin-bottom: 2%;
}

%strong {
    font-size: 1.5em;
    margin-bottom: 2%;
    color: #063;
}

%mark {
    font-size: 1.5em;
    background: transparent;
    color: #063;
    font-weight: 900;
}

%h3 {
    font-size: 1.5em;
    margin-bottom: 5%;
}

%flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%p {
    width: 100%;
    color: #666;
    font-weight: 200;
}

.breadcrumb {
    width: 70%;
    margin: 12rem auto 0;
    background-color: rgba(255, 255, 255, 0.7);
    padding: .5rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    a {
        font-size: 0.9em;
        color: #333;
        padding: 0 .2rem;
    }

    span {
        color: #333;
        padding: 0 .2rem;
    }
}

.news-wrap {
    width: 70%;
    margin: 0 auto;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.15);
    background: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    .news {
        padding: 2rem;

        h2 {
            @extend %h2;
        }

        .newsTop {
            width: 100%;

            a {
                width: 100%;
                margin: 0 auto;
                border: 1px solid #e1e1e1;
                @extend %flex;

                img {
                    width: 50%;
                }

                div {
                    width: 50%;
                    text-align: right;
                    padding-right: 1rem;

                    em {
                        font-size: .9em;
                    }

                    h3 {
                        @extend %h3;
                    }

                    p {
                        @extend %p;
                    }
                }
            }
        }

        .newsSearch {
            width: 100%;
            margin: 3rem auto;
            padding: 0;
            text-align: center;
            background: #f9f9f9;
            border: 1px solid #e1e1e1;

            p {
                display: inline-block;
                font-size: .9em;
                color: #666;
                
            }

            input[type=date] {
                height: 30px;
                outline: none;
                font-size: .9em;
                color: #666;
                margin: 1rem;
                border: 1px solid #e1e1e1;
                padding: 1px 2px 1px 4px;

            }

            input[type=text] {
                outline: none;
                font-size: .9em;
                color: #666;
                width: 475px;
                height: 30px;
                border: 1px solid #e1e1e1;
                padding: 1px 2px 1px 4px;
                letter-spacing: -0.35px;
                font-weight: 100;
            }

            input[type=submit] {
                outline: none;
                font-size: .9em;
                color: #fff;
                background: #04a6e1;
                border: none;
                padding: 4px 18px;
            }
        }

        .newsImg01 {
            width: 100%;
            margin: 0 auto;

            ul {
                @extend %flex;
                margin: 0 auto;

                li {
                    display: inline-block;
                    width: 100%;
                    margin-right: 1rem;
                    position: relative;

                    &:nth-of-type(3) {
                        margin-right: 0;
                    }


                    a {
                        width: 100%;
                        overflow: auto; 
                        margin: 0;

                        div {
                            img {
                                width: 100%;
                                display: block;
                            }
                        }

                        .txt {
                            width: 100%;
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            background: rgba(0, 0, 0, 0.5);
                            color: #fff;
                            margin: 0;
                            padding: 1rem;

                            p {
                                margin: 0;
                                color: #fff;
                            }

                            em {
                                margin: 0;
                                font-size: .9em;
                            }
                        }
                    }
                }
            }
        }

        .newsImg04 {
            width: 100%;
            margin: 5rem auto;

            ul {
                @extend %flex;
                margin: 0 auto;

                li {
                    display: inline-block;
                    width: 100%;
                    margin-right: 1rem;

                    &:nth-of-type(4) {
                        margin-right: 0;
                    }

                    a {
                        width: 100%;

                        img {
                            width: 100%;
                        }

                        p {}

                        em {}
                    }
                }
            }
        }

        .paging {
            width: 100%;
            text-align: center;

            a {
                margin-right: 1rem;
            }
        }
    }
}
