@charset 'utf-8';
@import url('common.css');


// header logo
header {
    width: 100%;
    height: 75px;
    background: transperant;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;

    // &:hover .header-wrap:before {
    //     opacity: 1;
    //     z-index: -1
    // }

    // &:hover nav>.top_menu>li>a {
    //     color: #333;
    // }

    // &:hover .language>li>a {
    //     color: #333;
    // }

    .header-wrap {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:before {
            content: '';
            display: block;
            opacity: 1;
            z-index: -1;
            width: 100%;
            height: 100%;
            background: #fff;
            position: absolute;
            border-bottom: 1px solid #e1e1e1;
        }

        .logo {
            width: 10%;
            margin-left: 15%;

            a {
                width: 100%;

                img {
                    width: 100%;
                    z-index: 10;

                }
            }
        }
    }
}


// header nav
.header-wrap {
    nav {
        width: 40%;
        height: 100%;
        margin: 0 auto;

        >.top_menu {
            font-size: 0;
            width: 100%;
            margin: 0 auto;

            >li {
                display: inline-block;
                width: 25%;
                box-sizing: border-box;
                position: relative;
                text-align: center;
                padding: 26px 0;

                >a {
                    color: #333;
                    font-weight: 500;
                    text-align: center;

                }
            }
        }
    }
}

// header sub-menu
header {
    .top_menu {
        li {
            &:hover ul {
                display: block;
                width: 100%;
                background: #04a6e1;
                padding: 10% 0;
            }

            >ul {
                position: absolute;
                left: 0;
                top: 75px;
                width: 100%;
                text-align: left;
                display: none;

                >li {
                    // width: 25%;
                    padding: 0 10% 5% 10%;

                    >a {
                        font-size: .9em;
                        color: #fff;
                    }
                }
            }
        }
    }
}

// header language

.header-wrap {
    >.language {
        width: 10%;
        margin-right: 15%;

        >li {
            position: relative;
            width: 100%;

            &:after {
                content: '';
                display: inline-block;
                width: 0px;
                height: 0px;
                border-top: 7px solid #ababab;
                border-bottom: 7px solid none;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
            }

            &:hover .language_list {
                display: block;
            }

            >a {
                font-size: .8em;
                color: #333;
                font-size: .7em;
            }

            >.language_list {
                position: absolute;
                left: 0;
                top: 20px;
                display: none;

                >li {
                    display: inline-block;

                    >a {
                        text-align: center;
                        font-size: .7em;
                        color: #04a6e1;
                    }
                }
            }
        }
    }
}

// MAIN

main {
    width: 100%;
    background: url('../img/sub_bg.jpg') no-repeat;
    margin: 4rem auto;

    h1 {
        color: #333;
        font-size: 3em;
        text-align: center;
        padding: 5rem 0 0 0;
    }
}


// 유한킴벌리 hub
main {
    width: 100%;

    .ykhurb_wrap {
        position: fixed;
        right: 0;
        bottom: -7%;
        background: #04a6e1;
        padding: 1vw 1.5vw;
        transform: rotate(90deg);
        transform-origin: 100% 0%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 10;

        .title {
            p {
                margin: 0;
                color: #fff;

                mark {
                    background: transparent;
                    color: #fff;
                    font-weight: bold;
                }
            }
        }

        .list_btn {
            width: 0px;
            height: 0px;
            border-top: 7px solid #fff;
            border-bottom: 7px solid none;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            margin-left: 3vw;
        }
    }
}

// SECTION 01: 우리강산 푸르게 푸르게

%h2 {
    font-size: 2em;
    color: #000;
    font-weight: 900;
    margin-bottom: 2%;
}

%strong {
    font-size: 1.5em;
    margin-bottom: 2%;
    color: #04a6e1;
}

%mark {
    font-size: 1em;
    background: transparent;
    color: #04a6e1;
    font-weight: 900;
}

%h3 {
    font-size: 1.5em;
    margin-bottom: 5%;
}

%flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%p {
    width: 100%;
    color: #666;
    font-weight: 200;
}

.onair_wrap {
    width: 70%;
    margin: 5rem auto;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.15);
    padding: 1rem;
    background: #fff;
    border-radius: 5px;

    .instagram {
        width: 100%;
        margin: 1rem auto;

        > a {
            &:after {
                content: "";
                display: block;
                width: 100%;
                border-bottom: 1px solid #e1e1e1;
            }

            span {
                width: 200px;
                height: 50px;
                display: inline-block;
                background: url('../img/sns_instagram.png') no-repeat;
                // background-position: -10rem -2.8rem;
                &.active {
                    background: url('../img/sns_instagram_color.png') no-repeat;
                }
            }
        }

        ul {
            @extend %flex;
            margin: 1rem auto;

            li {
                display: inline-block;
                width: 100%;
                margin-right: 1rem;

                &:nth-of-type(3) {
                    margin-right: 0;
                }

                &:hover {
                    border: 1px solid #04a6e1;
                }

                a {
                    img {
                        width: 100%;
                    }

                    p {
                        font-size: .9em;
                    }
                }
            }
        }
    }

    .youtube {
        width: 100%;
        margin: 2rem auto;

        > a {
            &:after {
                content: "";
                display: block;
                width: 100%;
                border-bottom: 1px solid #e1e1e1;
            }
                span {
                width: 200px;
                height: 50px;
                display: inline-block;
                background: url('../img/sns_youtube.png') no-repeat;
                // background-position: .3rem -2.8rem;
                &.active {
                    background: url('../img/sns_youtube_color.png') no-repeat;
                }
                }
        }

        ul {
            @extend %flex;
            margin: 1rem auto;

            li {
                display: inline-block;
                width: 100%;
                margin-right: 1rem;

                &:nth-of-type(3) {
                    margin-right: 0;
                }

                a {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    .facebook {
        width: 100%;
        margin: 2rem auto;

        > a {
            &:after {
                content: "";
                display: block;
                width: 100%;
                border-bottom: 1px solid #e1e1e1;
            }
                span {
                width: 200px;
                height: 50px;
                display: inline-block;
                background: url('../img/sns_facebook.png') no-repeat;
                &.active {
                    background: url('../img/sns_facebook_color.png') no-repeat;
                }
               
                }
        }

        ul {
            @extend %flex;
            margin: 1rem auto;

            li {
                display: inline-block;
                width: 100%;
                margin-right: 1rem;
                box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.15);

                &:nth-of-type(3) {
                    margin-right: 0;
                }

                a {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}


footer {
    width: 100%;
    text-align: center;

    a {
        width: 100%;

        img {
            width: 10%;
        }
    }

    ul {
        li {
            display: inline-block;
            font-weight: lighter;
            font-size: .8em;

            &:after {
                content: '';
                display: inline-block;
                width: 2px;
                height: 10px;
                background: #ababab;
                margin: 0 5px;
            }
        }
    }

    p {
        font-weight: lighter;
        font-size: .8em;
    }
}