/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}



/*------slide-------*/
/* *{box-sizing: border-box;}
.slide{
    width:1000px;
    margin:0 auto;
}
.slide .s_bn{
    width:100% !important;
    height:200px;
    background:#ff0;
    border:1px solid #f00;
}
.slide .s_bn img{width:100%;} */

/*-----prev-next-----*/
.s_v1 .slick-prev,
.s_v1 .slick-next
{
    border:none;
    font-size:0;
    width:60px; height:60px;
    position:absolute;
    top:50%; 
    transform: translateY(-50%);
    border: 1px solid #333;
    background-color: transparent;
    border-radius: 10px;
    z-index:9;
}
.s_v1 .slick-prev{ left:-10%;}
.s_v1 .slick-next{ right:-10%;}

.s_v1 .slick-prev:after{
    content:'<';
    font-size:30px;
    color:#063;
}
.s_v1 .slick-next:after{
    content:'>';
    font-size:30px;
    color:#063;
}

/*----indicator----*/
.s_v1 .slick-dots{
    position:absolute;
    bottom:20%;
    right: 0%;
    list-style:none;
    margin:0; padding:0;
}
.s_v1 .slick-dots > li{
    display:inline-block; margin:0;
}
.s_v1 .slick-dots > li > button{
    width:90px; height:1px;
    background:#fff;
    font-size:0;
    padding:0;
    border:none;
}
.s_v1 .slick-dots li.slick-active button{
    height: 5px;
    background-image: linear-gradient(125deg, rgba(134, 227, 206, 1), rgba(208, 230, 165, 1), rgba(255, 221, 148, .8));
    outline-style: none;
}















